<div class="container mt-4">
  <h2 class="mb-4">Survey Form</h2>
  <h4 class="mb-3">{{ title }}</h4>
  <form action="" #customerForm="ngForm" (ngSubmit)="submitForm(customerForm)">
    <div
      class="card p-3 mb-3 shadow-sm"
      *ngFor="let item of questions; let i = index"
    >
      <p class="fw-bold">Question {{ i + 1 }} : {{ item.question }}</p>

      <div class="answer">
        <!-- Text Input -->
        <div *ngIf="item.category == 'text'">
          <input
            type="text"
            class="form-control"
            name="anser-{{ i }}"
            placeholder="Your answer here..."
            [(ngModel)]="textAns"
            #answer="ngModel"
            required=""
          />
          <small *ngIf="answer.touched && answer.invalid" class="text-danger">
            Answer is Required
          </small>
        </div>

        <!-- Radio Buttons -->
        <div *ngIf="item.category == 'radio'">
          <div *ngFor="let options of item.options" class="form-check">
            <input
              type="radio"
              class="form-check-input"
              [value]="options"
              name="radio-{{ i }}"
              [(ngModel)]="radioAns"
              #RadioInput="ngModel"
            />
            <label class="form-check-label">{{ options }}</label>
            <div
              *ngIf="RadioInput.invalid && RadioInput.touched"
              class="text-danger"
            >
              Please select an option.
            </div>
          </div>
        </div>

        <!-- Checkbox List -->
        <div *ngIf="item.category == 'list'">
          <div
            *ngFor="let options of item.options; let j = index"
            class="form-check"
          >
            <input
              type="checkbox"
              name="list"
              class="form-check-input"
              [value]="options"
              id="check-{{ i }}-{{ j }}"
              (change)="onCheckboxChange($event, options)"
              [checked]="listAns.includes(options)"
              #checkboxInput="ngModel"
              ngModel
            />
            <label class="form-check-label" [for]="'check-' + i + '-' + j">{{
              options
            }}</label>
            <div
              *ngIf="!listAns.length && checkboxInput.touched"
              class="text-danger"
            >
              Please select at least one option.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <button
        class="btn btn-primary"
        type="submit"
        [disabled]="customerForm.invalid"
      >
        Submit
      </button>
    </div>
  </form>
</div>

<div class="d-flex justify-content-end mt-4">
  <button class="btn btn-outline-danger" (click)="logout()">Logout</button>
</div>
