<div class="container mt-5">
  <h2 class="mb-4">Survey Questions Form</h2>
  <form #myForm="ngForm">
    <div class="mb-3">
      <label for="surveyTitle" class="form-label">Survey Title</label>
      <input
        type="text"
        name="title"
        id="surveyTitle"
        class="form-control"
        [ngModel]="surveyTitle"
      />
    </div>

    <div class="surveyFields">
      <div
        *ngFor="let field of surveyFields; let i = index"
        class="surveyField border p-4 rounded mb-4 bg-light shadow-sm d-flex"
      >
        <div class="questionFields">
          <div class="mb-3">
            <label for="questionText" class="form-label"
              >Question : {{ i + 1 }}</label
            >
            <textarea
              name="question"
              [(ngModel)]="field.question"
              rows="2"
              class="form-control"
            ></textarea>
          </div>

          <div class="mb-3">
            <label for="questionCategory" class="form-label">Category</label>
            <select
              name="category"
              [(ngModel)]="field.category"
              class="form-select"
            >
              <option value="">Select Question Category</option>
              <option value="text">Text</option>
              <option value="list">List</option>
              <option value="radio">Radio</option>
            </select>
          </div>
          <div *ngIf="field.category === 'radio' || field.category === 'list'">
            <div *ngIf="field.category === 'radio'">
              <label for="ListTitle" class="form-label"
                >Question for {{ field.category }} :</label
              >
              <input
                type="text"
                name="questionTitle"
                id="questionTitle"
                class="form-control"
                [(ngModel)]="field.questionTitle"
                placeholder="Enter the question"
              />
              <div class="mb-3">
                <label for="questionOptions" class="form-label">Options</label>
                <input
                  type="text"
                  name="options"
                  [(ngModel)]="field.options"
                  class="form-control"
                  placeholder="Enter options separated by commas"
                />
              </div>
            </div>
            <div *ngIf="field.category === 'list'">
              <label for="questionTitle" class="form-label"
                >Question for {{ field.category }} :</label
              >
              <input
                type="text"
                name="questionTitle"
                id="questionTitle"
                class="form-control"
                [(ngModel)]="field.questionTitle"
                placeholder="Enter the question"
              />
              <div class="mb-3">
                <label for="questionOptions" class="form-label">Options</label>
                <input
                  type="text"
                  name="options"
                  [(ngModel)]="field.options"
                  class="form-control"
                  placeholder="Enter options separated by commas"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="cta d-flex align-items-center gap-2">
          <button
            type="button"
            class="btn btn-success"
            (click)="addQuestionFields(i)"
            [disabled]="field.isClicked"
          >
            +
          </button>
          <button
            type="button"
            class="btn btn-danger"
            (click)="removeQuestionFields(i)"
          >
            -
          </button>
        </div>
      </div>

      <button class="btn btn-outline-primary" (click)="onSubmit(myForm)">
        Submit
      </button>
    </div>
  </form>
</div>
<div class="d-flex justify-content-end mt-4">
  <button class="btn btn-outline-danger" (click)="logout()">Logout</button>
</div>
